*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 1160px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 120px;
  background-color: black;
  width: 100%;
  height: 80px;
}
.nav__items {
  justify-content: space-evenly;
  width: 70%;
}
.nav__subtitle {
  justify-content: flex-end;
  width: 30%;
}
.nav__title {
  position: relative;
  width: 90px;
  height: 60px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.nav__title h1 {
  position: absolute;
  font-weight: 300;
  font-size: 20px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.nav__title img {
  position: absolute;
  width: 15px;
  height: 25px;
  left: 10px;
  top: 23px;
  transform: rotate();
}
.nav__link {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 500;
  transition: color 0.3s;
}
.nav__link:hover {
  color: #F9804B;
  cursor: pointer;
}
.nav__link--color {
  color: #F9804B;
}

.header {
  width: 1600px;
  height: 700px;
}
.header__img {
  position: relative;
  margin: 0 auto;
  height: 700px;
  background-image: url("../assets/img/GiantPanda.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 1px 2px 2px #ABABAB;
}
.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.header__circle {
  position: absolute;
  left: calc(50% - 232.5px + 239.5px);
  top: 20px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  width: 479px;
  height: 479px;
}
.header__text {
  position: absolute;
  width: 500.31px;
  height: 400px;
}
.header__text h2 {
  position: absolute;
  left: 95px;
  top: 90px;
  font-style: normal;
  font-weight: 700;
  font-size: 106.5px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.header__text span {
  color: #FFEE2E;
}
.header__btn {
  position: absolute;
  width: 298px;
  height: 54px;
  font-weight: 500;
  font-size: 16px;
  left: calc(50% - 149px + 332px);
  top: 585px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  color: white;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.header__btn:hover {
  background: #E47209;
  cursor: pointer;
}

.main {
  position: absolute;
  top: 900px;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.main::after {
  content: "";
  position: absolute;
  background-image: url("../assets/img/flower_foto1.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 600px;
  padding: 5px 3px;
  top: -100px;
  right: 0px;
  background-position: right;
}

.one {
  display: flex;
  height: 403px;
  padding-top: 32px;
  margin-bottom: 140px;
}
.one__photo {
  margin-right: 35px;
  width: 600px;
  height: 400px;
}
.one__photo img {
  width: 100%;
  height: 100%;
}
.one__text {
  color: #333B41;
  width: 475px;
  height: 400px;
  margin-left: 35px;
  font-style: 400;
}
.one__text h2 {
  margin-top: 0;
  font-size: 48px;
  line-height: 120%;
  padding-bottom: 20px;
  font-weight: 400;
  padding-left: 10px;
}
.one__text p {
  line-height: 140%;
  text-justify: auto;
  padding-left: 10px;
}
.one__text h3 {
  line-height: 120%;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 32px;
  padding-top: 54px;
  padding-left: 10px;
}

.two {
  display: flex;
  width: 100%;
  height: 1000px;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 1425px;
}

.two::before {
  content: "";
  position: absolute;
  background-image: url("../assets/img/palm_foto.png");
  background-repeat: no-repeat;
  width: 880px;
  height: 460px;
  padding: 5px 3px;
  top: 730px;
  left: 0;
}

.two::after {
  content: "";
  position: absolute;
  background-image: url("../assets/img/strelitzia 1.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 270px;
  padding: 5px 3px;
  right: 0px;
  top: 920px;
  border: none;
}

.button_two {
  position: absolute;
  width: 298px;
  height: 55px;
  font-weight: 500;
  font-size: 16px;
  left: calc(50% - 149px);
  top: 2454px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  color: white;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.button_two:hover {
  background: #E47209;
  cursor: pointer;
}

.cards {
  margin: auto 0;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 1160px;
}

.card {
  border: 1px solid #F9804B;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  width: 368px;
  height: 426px;
}

.hover {
  position: absolute;
  width: 366px;
  height: 424px;
  background-color: rgba(3, 3, 3, 0);
  border-radius: 5px;
  display: flex;
  transition: 0.3s;
}

.hover:hover {
  position: absolute;
  width: 366px;
  height: 424px;
  background-color: rgba(17, 17, 17, 0.85);
  border-radius: 5px;
  z-index: 0;
}

.hover-txt {
  z-index: -1;
  font-size: 24px;
  color: white;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 366px;
  height: 424px;
  cursor: pointer;
}

.hover-txt:hover {
  z-index: 1;
}

.arrow {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 0;
}

.arrow-slider1 {
  right: 145px;
}

.arrow-slider2 {
  left: 145px;
}

image {
  width: 366px;
  height: 366px;
}

.text {
  display: flex;
}

.txt {
  width: 85%;
  font-weight: 500;
  padding-left: 16px;
  padding-top: 3px;
}

.txt p {
  line-height: 18px;
  font-weight: 300;
  font-size: 16px;
}

.txt h3 {
  line-height: 22.4px;
  font-weight: 500;
  font-size: 16px;
}

.icon-meat {
  margin: 0;
  justify-content: flex-end;
}

.icon-banana {
  justify-content: flex-end;
}

.icon-meat img {
  width: 48px;
  height: 38px;
  margin-top: 7px;
}

.icon-banana img {
  width: 33px;
  height: 37px;
  margin-top: 8px;
  margin-left: 10px;
}

.pandas {
  margin-left: 0;
}

.sloth {
  margin-left: 0;
}

.gorilla {
  margin-right: 0;
}

.penguin {
  margin-right: 0;
}

.three {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 2610px;
  width: 1600px;
  height: 1004px;
  background-color: #FCCDB3;
}

.card-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1160px;
  height: 836px;
  background-color: #FDE6DB;
  border-radius: 20px;
}
.card-feed__main {
  margin: 26px;
  margin-bottom: 0;
}
.card-feed h2 {
  text-align: center;
  color: #fe9013;
  font-size: 48px;
  line-height: 120%;
  font-weight: 400;
  height: 58px;
  margin-bottom: 10px;
}
.card-feed .subtitle-main {
  font-size: 24px;
  line-height: 120%;
  margin-left: 30px;
  padding: 20px;
  font-weight: normal;
  font-weight: 400;
}
.card-feed p,
.card-feed h5 {
  font-size: 16px;
  line-height: 28px;
  padding: 20px;
  padding-bottom: 0;
  margin-left: 30px;
}
.card-feed p {
  line-height: 20px;
  padding-top: 10px;
  margin-bottom: 55px;
  width: 863px;
}
.card-feed a {
  border-bottom: 1px solid #fe9013;
  text-decoration: none;
  color: black;
}
.card-feed h4 {
  font-weight: 500;
}
.card-feed .subtitle-icons {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 20px;
}
.card-feed__btn {
  position: absolute;
  width: 298px;
  height: 55px;
  font-weight: 500;
  font-size: 16px;
  left: calc(50% - 149px);
  top: 790px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.card-feed__btn a {
  text-decoration: none;
  color: white;
}
.card-feed__btn:hover {
  background: #E47209;
  cursor: pointer;
}

.icons-friends {
  display: flex;
  width: 800px;
  height: 244px;
  justify-content: space-evenly;
  align-items: center;
}

.items-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 244px;
  background-color: white;
  border: 1px solid #fe9013;
  border-radius: 5px;
}

.all-icons {
  display: flex;
  flex-direction: column;
}

.hand,
.zoo,
.monkey {
  width: 168px;
  height: 168px;
}

.hand img {
  width: 108px;
  height: 60px;
}

.zoo img {
  width: 86px;
  height: 95px;
}

.monkey img {
  width: 124.75px;
  height: 71.6px;
}

.text-h3 {
  display: flex;
  width: 168px;
  height: 46px;
  margin-bottom: 0;
}

.text-h3 h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  padding-top: 30px;
}

.vector {
  height: 30%;
}

.vector img {
  width: 69px;
  height: 35px;
  display: flex;
}

.four {
  display: flex;
  position: absolute;
  top: 3820px;
  height: 575px;
  width: 1160px;
  justify-content: center;
}

.blocks {
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.block {
  display: flex;
  flex-direction: column;
  width: 268px;
  height: 391px;
  background-color: #F1F3F2;
  border: 2px solid #FEBDAB;
  border-radius: 20px;
}

.block-img {
  margin-right: 10px;
}

.block-heading {
  display: flex;
  padding: 15px;
  padding-bottom: 5px;
}

.block-text {
  padding: 0 20px 0 20px;
}

.block-text p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  color: #767474;
}

.block-title h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.block-title p {
  color: #bdbdbd;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}

.title-four {
  position: absolute;
  top: 3740px;
}

.title-four h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 46.8px;
  color: #333b41;
}

.feedback-button button {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  width: 298px;
  height: 55px;
  left: 0%;
  top: 450px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  color: white;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.feedback-button button:hover {
  background: #E47209;
  cursor: pointer;
}

.bar {
  display: block;
  position: absolute;
  top: 415px;
  background-color: rgb(192, 192, 192);
  width: 55%;
  border-radius: 5px;
}

.bar:hover {
  cursor: pointer;
}

.line {
  background-color: #fe9013;
  color: white;
  padding: 0.8%;
  text-align: right;
  border-radius: 15px;
}

.progress {
  width: 20%;
}

.footer {
  position: absolute;
  top: 4500px;
  background-color: black;
  width: 100%;
  height: 443px;
  display: flex;
  justify-content: center;
}

.footer:after {
  content: "";
  position: absolute;
  background-image: url("../assets/img/leav_foto.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 270px;
  padding: 5px 3px;
  right: 0px;
  top: -270px;
  background-position: top right;
}

.footer-all {
  padding-top: 50px;
  display: flex;
  width: 1160px;
}

.fa-brands {
  color: rgba(196, 196, 196, 0.5);
}

.icons-footer {
  margin-top: 50px;
}

.icon-footer {
  padding: 10px;
  padding-left: 0px;
  color: white;
}

.icon-footer:hover {
  color: rgb(75, 146, 0);
  cursor: pointer;
}

.icon-footer i:hover {
  color: rgb(75, 146, 0);
}

.button-footer button {
  width: 298px;
  font-weight: 500;
  font-size: 16px;
  height: 55px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  color: white;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  margin-top: 50px;
}

.button-footer button:hover {
  background: #E47209;
  cursor: pointer;
}

.navfooter {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 137.5%;
  text-decoration: none;
  padding-bottom: 30px;
}
.navfooter__items {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  transition: color 0.3s;
}
.navfooter__items:hover {
  color: #E47209;
}
.navfooter__items--color {
  text-decoration: none;
  color: #F9804B;
  font-style: normal;
  font-weight: 400;
  transition: color 0.3s;
}
.navfooter__items--color:hover {
  color: white;
}

.subscribtion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-designed {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-designed-txt {
  padding-top: 2.5px;
}

.footer-designed-txt p {
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.form-label {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 15px;
  color: white;
}

.form-input input {
  width: 220px;
  height: 40px;
  border: 1px solid #F9804B;
  border-radius: 2px;
  background-color: #F1F3F2;
  font-size: 16px;
  font-weight: 400;
  color: #bdbdbd;
  padding-left: 5px;
}

.form-input button {
  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: 22px;
  border: 1px solid black;
  border-radius: 5px;
  width: 129px;
  height: 40px;
  margin-left: 10px;
}

.form-input button:hover {
  cursor: pointer;
}

@media (width > 1600px) {
  header {
    width: 100%;
  }
  .header,
.three {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */