$green: #4B9200;
$orange: #F9804B;
$yellow: #FFEE2E;
$orange_grad: #FED290;
$pink_gradient: #FEBDAB;
$rad: #D31414;
$black_blue: #333B41;
$gray: #767474;
$gray_smoky: #ABABAB;
$light_gray: #F1F3F2;
$frosted_white: #FDFDFF;


