$green: #4B9200;
$orange: #F9804B;
$yellow: #FFEE2E;
$orange_grad: #FED290;
$pink_gradient: #FEBDAB;
$rad: #D31414;
$black_blue: #333B41;
$gray: #767474;
$gray_smoky: #ABABAB;
$light_gray: #F1F3F2;
$frosted_white: #FDFDFF;
$orange_fresh: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$orange-hover: #E47209;
$pink: #FCCDB3;
$pink2: #FDE6DB;



