@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

//navigation

.wrapper {
	width: 1160px;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 100%;
	height: 80px;
	position: sticky;
	z-index: 1000000;
}

.nav-main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	display: flex;
	justify-content: flex-start;
	width: 100px;
	margin: 5px;
}

.nav-title {
	position: relative;
	width: 85px;
	height: 55px;
	border: 1px solid white;
	border-radius: 4px;
	cursor: pointer;
}

.nav-title h1 {
	position: absolute;
	font-weight: 300;
	font-size: 20px;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.nav-title img {
	position: absolute;
	width: 15px;
	height: 25px;
	left: 10px;
	top: 18px;
	transform: rotate();
}

.nav-links {
	line-height: 80px;
	height: 80px;
	width: 560px;
}
.nav-links ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.nav-link {
	text-decoration: none;
	color: white;
	font-style: normal;
	font-weight: 500;
	transition: color 0.3s;
}

.nav-link:hover {
	color: $orange;
	cursor: pointer;
}

.nav-link span {
	color: $orange;
}

.figma-main {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 80px;
	align-items: center;
}

.hamburger-menu {
	display: none;
	cursor: pointer;
}

.burger-menu {
	display: none;
}

//header panda section

header {
	width: 100%;
	height: 700px;
	margin-bottom: 140px;
}

.header {
	position: relative;
	padding-bottom: 70px;
	margin-bottom: 27.5px;
	z-index: 100;

	&__img {
		position: absolute;
		background-image: url('../assets/img/GiantPanda.jpg');
		background-size: cover;
		background-position: center bottom;
		width: 100%;
		height: 700px;
	}

	&__circle {
		position: absolute;
		left: calc(50% - 465px / 2 + 240px);
		top: 15px;
		border-radius: 50%;
		background: $orange_fresh;
		width: 465px;
		height: 465px;
	}

	&__text {
		position: absolute;
		width: 500.31px;
		height: 400px;

		h2 {
			position: absolute;
			left: 80px;
			top: 70px;
			font-style: normal;
			font-weight: 700;
			font-size: 106.5px;
			line-height: 75%;
			text-align: center;
			text-transform: uppercase;
			color: white;
		}

		span {
			color: $yellow;
		}
	}

	&__btn {
		position: absolute;
		width: 298px;
		height: 54px;
		font-weight: 500;
		font-size: 16px;
		left: calc(50% - 298px / 2 + 332px);
		top: 550px;
		background: $orange_fresh;
		border-radius: 25px;
		color: white;
		line-height: 54px;
		text-align: center;
		text-transform: uppercase;
		border: none;

		&:hover {
			background: $orange-hover;
			cursor: pointer;
		}

		&:active {
			background-color: #4b9200;
		}
	}
}

//main section

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

//first section

.one {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 75px;

	&::after {
		content: '';
		position: absolute;
		background-image: url('../assets/img/flower_foto1.png');
		background-repeat: no-repeat;
		width: 300px;
		height: 600px;
		padding: 5px 3px;
		right: 0px;
		background-position: right;
	}

	&__photo {
		margin-right: 35px;
		width: 620px;
		height: 410px;
		padding-right: 12px;
		padding-bottom: 8px;

		& img {
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
		}
	}

	&__text {
		color: $black_blue;
		width: 480px;
		height: 410px;
		margin-left: 35px;
		font-style: 400;

		& h2 {
			margin-top: 0;
			font-size: 48px;
			line-height: 120%;
			padding-bottom: 20px;
			font-weight: 400;
			padding-left: 10px;
		}
		& p {
			line-height: 140%;
			text-justify: auto;
			padding-left: 10px;
		}

		& h3 {
			line-height: 120%;
			font-size: 24px;
			font-weight: 400;
			text-align: left;
			padding-bottom: 32px;
			padding-top: 54px;
			padding-left: 10px;
		}
	}
}

//section two

.two {
	position: relative;
	display: flex;
	width: 100%;
	height: 970px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 85px;
	height: 1190px;
}

.two::before {
	content: '';
	position: absolute;
	background-image: url('../assets/img/palm_foto.png');
	background-repeat: no-repeat;
	width: 880px;
	height: 460px;
	padding: 5px 3px;
	bottom: -155px;
	left: 0;
	z-index: -100;
}

.two::after {
	content: '';
	position: absolute;
	background-image: url('../assets/img/strelitzia\ 1.png');
	background-repeat: no-repeat;
	width: 360px;
	height: 270px;
	padding: 5px 3px;
	right: 0px;
	bottom: -155px;
	border: none;
	z-index: -100;
	
}

.button-two button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 298px;
	height: 55px;
	font-weight: 500;
	font-size: 16px;
	background: $orange_fresh;
	border-radius: 25px;
	color: white;
	line-height: 54px;
	text-transform: uppercase;
	border: none;
	margin-top: 50px;
	margin-bottom: 50px;

	&:hover {
		background: $orange-hover;
		cursor: pointer;
	}

	&:active {
		background: #4b9200;
	}
}

.cards {
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 1500px;
	overflow: hidden;
}

.card {
	border: 1px solid $orange;
	border-radius: 5px;
	overflow: hidden;
	width: 368px;
	height: 426px;
	transition: 0.4s;
	margin: 8px;
}

.hover {
	position: absolute;
	width: 366px;
	height: 424px;
	background-color: rgba(3, 3, 3, 0);
	border-radius: 5px;
	display: flex;
	transition: 0.3s;
}

// card and txt 'animation'

.card:hover {
	transform: scale(1.05);
}

.card:hover .icon-banana {
	display: none;
}

.card:hover .icon-meat {
	display: none;
}

.card:hover .txt {
	display: none;
}

.hover:hover {
	position: absolute;
	width: 366px;
	height: 424px;
	background-color: rgba(17, 17, 17, 0.7);
	border-radius: 5px;
	z-index: 0;
	transform: scale(1.05);
}

.hover-txt {
	z-index: -1;
	font-size: 24px;
	color: white;
	align-items: center;
	flex-direction: column;
	display: flex;
	justify-content: center;
	width: 366px;
	height: 424px;
	cursor: pointer;
	transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hover-txt:hover {
	z-index: -1;
}

.circle img {
	width: 16px;
	height: 8px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.circle {
	position: absolute;
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 43.5%;
	transition: width height background 0.4s;
}

.circle:hover {
	background: #e47209;
	width: 65px;
	height: 65px;
	cursor: pointer;
}

.circle:active {
	background-color: #4b9200;
}

.arrow1 {
	right: 139px;
}

.arrow2 {
	left: 139px;
}

.image {
	width: 366px;
	height: 366px;
}

.text {
	display: flex;
}

.txt {
	width: 85%;
	font-weight: 500;
	padding-left: 16px;
	padding-top: 3px;
	transition: 0.4s;
}

.txt p {
	line-height: 18px;
	font-weight: 300;
	font-size: 16px;
}

.txt h3 {
	line-height: 22.4px;
	font-weight: 500;
	font-size: 16px;
}

.icon-meat {
	margin: 0;
	justify-content: flex-end;
}

.icon-banana {
	justify-content: flex-end;
}

.icon-meat img {
	width: 48px;
	height: 38px;
	margin-top: 7px;
}

.icon-banana img {
	width: 33px;
	height: 37px;
	margin-top: 8px;
	margin-left: 10px;
}



.image img {
	width: 366px;
	height: 366px;
}



//section three

.three {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 1015px;
	width: 100%;
	margin-top: 155px;
	margin-bottom: 70px;
	padding: 95px;
	background: linear-gradient(
			315.75deg,
			rgba(254, 210, 144, 0.7) 30.06%,
			#febdab 100.95%,
			rgba(254, 210, 144, 0.7) 106.36%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		);
}

.card-feed {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 890px;
	background-color: rgba(253, 253, 255, 0.52);
	border-radius: 20px;

	&__main {
		margin: 15px;
		margin-bottom: 8px;
	}

	& h2 {
		text-align: center;
		color: #fe9013;
		font-size: 48px;
		line-height: 120%;
		font-weight: 400;
		height: 58px;
		margin-bottom: 10px;
	}

	& .subtitle-main {
		font-size: 24px;
		line-height: 120%;
		margin-left: 40px;
		padding: 20px;
		font-weight: normal;
		font-weight: 400;
	}

	& p,
	h5 {
		font-size: 16px;
		line-height: 20px;
		padding: 20px;
		padding-bottom: 0;
		margin-left: 40px;
	}

	& p {
		line-height: 20px;
		padding-top: 10px;
		margin-bottom: 55px;
		width: 910px;
	}

	& a {
		border-bottom: 1px solid #fe9013;
		text-decoration: none;
		color: black;
		font-size: 16px;
	}

	& h4 {
		font-weight: 500;
	}

	& .subtitle-icons {
		text-align: center;
		font-size: 38px;
		font-weight: normal;
		margin-bottom: 20px;
		margin-left: 4px;
		letter-spacing: 0.5px;
	}

	&__btn {
		width: 298px;
		height: 55px;
		font-weight: 500;
		font-size: 16px;
		background: $orange_fresh;
		border-radius: 25px;
		line-height: 54px;
		text-align: center;
		text-transform: uppercase;
		border: none;

		& a {
			text-decoration: none;
			color: white;
		}

		&:hover {
			background: $orange-hover;
			cursor: pointer;
		}

		&:active {
			background: #4b9200;
		}
	}
}

.button-donation {
	margin-top: 80px;
}

// feed friend icons

.icons-friends {
	display: flex;
	width: 800px;
	height: 244px;
	justify-content: space-evenly;
	align-items: center;
}

.items-friends {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 168px;
	height: 244px;
	background-color: white;
	border: 1px solid #fe9013;
	border-radius: 5px;
}

.all-icons {
	display: flex;
	flex-direction: column;
}

.hand,
.zoo,
.monkey {
	width: 168px;
	height: 168px;
}

.hand img {
	width: 108px;
	height: 60px;
}

.zoo img {
	width: 86px;
	height: 95px;
}

.monkey img {
	width: 124.75px;
	height: 71.6px;
}

.text-h3 {
	display: flex;
	width: 168px;
	height: 46px;
	margin-bottom: 0;
}

.text-h3 h3 {
	font-size: 16px;
	font-weight: 400;
	line-height: 22.4px;
	padding-top: 30px;
}

.vector {
	height: 30%;
}
.vector img {
	width: 69px;
	height: 35px;
	display: flex;
}

// testimonials

.four {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 575px;
	justify-content: center;
	width: 100%;
	margin-top: 90px;
	margin-bottom: 100px;
}

.blocks {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 2px;
	margin-top: 25px;
}

.block {
	display: flex;
	flex-direction: column;
	width: 268px;
	height: 391px;
	background-color: $light_gray;
	border: 2px solid $pink_gradient;
	border-radius: 20px;
	overflow: scroll;
}

.block-img {
	margin-right: 10px;
}

.block-heading {
	display: flex;
	padding: 15px;
	padding-bottom: 5px;
}

.block-text {
	padding: 0 20px 0 20px;
}

.block-text p {
	font-size: 15px;
	line-height: 18px;
	font-weight: 300;
	color: #767474;
}
.block-title h4 {
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
}
.block-title p {
	color: #bdbdbd;
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
}

.title-four {
	align-items: center;
	justify-content: center;
}

.title-four h2 {
	font-size: 36px;
	font-weight: 400;
	line-height: 46.8px;
	color: #333b41;
}
.feedback-button {
	width: 1160px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.feedback-button button {
	font-weight: 500;
	font-size: 16px;
	width: 298px;
	height: 55px;
	background: $orange_fresh;
	border-radius: 5px;
	color: white;
	line-height: 54px;
	text-align: center;
	text-transform: uppercase;
	border: none;

	&:hover {
		background: $orange-hover;
		cursor: pointer;
	}

	&:active {
		background: #4b9200;
	}
}

//slider bar

.bar {
	display: block;
	background-color: rgb(192, 192, 192);
	width: 38%;
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid $pink_gradient;
}

.bar:hover {
	cursor: pointer;
}

.line {
	background-color: #fe9013;
	color: white;
	padding: 0.8%;
	text-align: right;
	border-radius: 15px;
}

.line:active {
	background-color: #4b9200;
}

.progress {
	width: 20%;
}

//footer

.footer {
	background-color: #111115;
	height: 443px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 50px;
	margin-top: 80px;
	padding-bottom: 30px;
}

.footer::after {
	content: '';
	position: absolute;
	background-image: url('../assets/img/leav_foto.png');
	background-repeat: no-repeat;
	width: 360px;
	height: 270px;
	padding: 5px 3px;
	right: 0px;
	background-position: top right;
	top: 4290px;
	z-index: 100;
}

//logo

.nav-title p {
	display: inline-block;
	position: absolute;
	font-weight: 300;
	font-size: 20px;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

//

.footer-all {
	display: flex;
}

.fa-brands {
	color: rgba(196, 196, 196, 0.5);
}

.icons-footer {
	margin-top: 28px;
}

.icon-footer {
	padding: 10px;
	padding-left: 0px;
}

.icon-footer a {
	color: white;
	text-decoration: none;
}

.icon-footer a:hover {
	color: $orange-hover;
	cursor: pointer;
}

.icon-footer i:hover {
	color: $orange-hover;
}

.icon-footer a:active {
	color: #4b9200;
}

.icon-footer i:active {
	color: #4b9200;
}

.button-footer button {
	width: 298px;
	font-weight: 500;
	font-size: 16px;
	height: 55px;
	background: $orange_fresh;
	border-radius: 5px;
	color: white;
	line-height: 54px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	margin-top: 60px;
}

.button-footer button:hover {
	background: $orange-hover;
	cursor: pointer;
}

.button-footer button:active {
	background: #4b9200;
}

.navfooter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120%;
	text-decoration: none;
	padding-bottom: 35px;
	height: 388px;

	& ul {
		display: flex;
		width: 100%;
		align-items: flex-end;
		justify-content: space-around;
		height: 100%;
		padding-left: 100px;
	}

	& a {
		line-height: 100%;
		width: 100%;
		height: 100%;
	}

	&__items {
		text-decoration: none;
		color: white;
		font-style: normal;
		font-weight: 400;
		transition: color 0.3s;

		&:hover {
			color: $orange-hover;
		}
	}

	&__items--color {
		text-decoration: none;
		color: $orange;
		font-style: normal;
		font-weight: 400;
		transition: color 0.3s;

		&:hover {
			color: white;
		}
	}
}

.subscribtion {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30px;
}

.footer-designed {
	width: 100%;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.footer-designed-txt {
	padding-top: 10px;
	width: 250px;
	height: 40px;
}

.footer-designed-txt p {
	font-weight: 100;
	font-size: 16px;
	line-height: 20px;
	color: rgba(255, 255, 255, 1);
	padding-bottom: 5px;
}

.footer-designed-txt a {
	text-decoration: none;
}

.footer-designed-txt p:hover {
	color: #fe9013;
	text-decoration: 1px underline #fe9013;
}

.footer-designed-txt p:active {
	color: #4b9200;
	text-decoration: 1px underline #4b9200;
}

.form-label {
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	padding-bottom: 15px;
	color: white;
}

.input-email {
	width: 228px;
	height: 40px;
	border: 1px solid $orange;
	border-radius: 2px;
	background-color: $light_gray;
	font-size: 16px;
	font-weight: 400;
	color: #bdbdbd;
	padding-left: 5px;
}

.input-button {
	font-size: 16px;
	font-weight: 400;
	color: #333b41;
	line-height: 22px;
	border: 1px solid #333b41;
	border-radius: 5px;
	width: 129px;
	height: 40px;
	margin-left: 10px;
}

.input-button:hover {
	cursor: pointer;
}

.input-button:active {
	color: #4b9200;
	border: 1px solid #4b9200;
}

.input-email:valid {
	border: 1px solid #4b9200;
	background-color: #bfd1ab;
	color: #000000;
}

form:invalid input[type='submit'] {
	color: #333b41;
	border: 1px solid #333b41;
}

form:valid input[type='submit'] {
	border: 1px solid #4b9200;
	color: #4b9200;
}

form:invalid input[type='email'] {
	border: 1px solid red;
	color: #000000;
}

//media queries

@media (max-width: 1599px) {
	//nav

	.hamburger-menu {
		display: none;
	}

	.nav-link {
		padding-left: 8px;
	}
	.nav-links ul {
		height: 100%;
		font-weight: 400;
		padding: 30px;
		padding-right: 50px;
	}

	.logo {
		margin-left: 30px;
	}

	.figma-main {
		margin-right: 30px;
	}

	header {
		height: 500px;
	}

	.header {
		padding-bottom: 0px;
		margin-bottom: 10px;

		&__img {
			height: 500px;
			padding-bottom: 50px;
		}

		&__circle {
			left: calc(50% - 367px / 2 + 139.5px);
			top: -10px;
			width: 367px;
			height: 367px;
		}

		&__text {
			width: 400px;
			height: 320px;

			h2 {
				left: 70px;
				top: 53px;
				font-size: 84px;
			}
		}

		&__btn {
			left: calc(50% - 298px / 2 + 220px);
			top: 403px;
		}
	}

	//one

	.one {
		width: 950px;

		&::after {
			display: none;
		}
	}

	//main section

	.main {
		padding-top: 0px;
		padding-bottom: 40px;
	}

	//first section

	.one {
		height: 400px;
		padding: 8px;
		width: 970px;
		margin: 0;
		margin-bottom: 80px;

		&__photo {
			margin-right: 15px;
			width: 500px;
			height: 450px;
			padding-bottom: 45px;
			padding-left: 10px;
		}

		&__text {
			margin-left: 0;
			padding-bottom: 470px;
			padding-right: 0px;
			margin: 0;
			height: 100%;
			width: 50%;

			& h2 {
				line-height: 100%;
				padding: 0;
				margin: 0;
				padding-bottom: 20px;
				padding-top: 0px;
				line-height: 120%;
			}

			& p {
				line-height: 120%;
				padding: 0;
				margin: 0;
				padding-top: 0px;
				padding-bottom: 60px;
				line-height: 130%;
				padding-right: 10px;
			}

			& h3 {
				padding: 0;
				padding-bottom: 30px;
				padding-top: 0px;
			}
		}
	}

	//section two

	.two {
		padding-top: 30px;
		padding-bottom: 20px;
		margin-top: -55px;
		width: 100%;
		height: 1100px;
	}

	.two::before {
		width: 300px;
		height: 350px;
		padding: 0;
		bottom: -225px;
		left: 0px;
		background-image: url('../assets/img/palm_foto\ small.png');
	}

	.two::after {
		width: 350px;
		height: 250px;
		padding: 0;
		right: 0px;
		bottom: -155px;
		background-image: url('../assets/img/strelitzia\ 1\ small.png');
		background-position: top right;
	}

	.button-two button {
		margin-top: 55px;
		margin-bottom: 50px;
	}

	.cards {
		margin-top: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 0px;
		padding-bottom: 0px;
		width: 1000px;
		padding: 10px;
		margin-left: 0px;
		height: 1100px;
	}

	.card {
		margin: 10px;
		width: 294px;
		height: 354px;
		margin-top: 75px;
	}


	.hover {
		width: 294px;
		height: 354px;
	}

	// card and txt 'animation'

	.hover:hover {
		width: 294px;
		height: 354px;
	}

	.hover-txt {
		font-size: 24px;
		width: 294px;
		height: 354px;
		padding: 10px;
		text-align: center;
	}

	.circle {
		width: 60px;
		height: 60px;
		position: absolute;
		top: 40.9%;
	}

	.circle:hover {
		background: #e47209;
		width: 65px;
		height: 65px;
		cursor: pointer;
	}

	.arrow1 {
		right: 352px;
		top: 43.5%;
	}

	.arrow2 {
		left: 355px;
		top: 43.5%;
	}

	.image {
		width: 294px;
		height: 294px;
	}

	.image img {
		width: 294px;
		height: 294px;
	}

	.txt {
		width: 85%;
		font-weight: 500;
		padding-left: 16px;
		padding-top: 10px;
		transition: 0.4s;
	}

	.icon-meat img {
		margin-right: 5px;
	}

	.icon-banana img {
		margin-top: 10px;
		margin-right: 5px;
	}

	//section three

	.three {
		height: 870px;
		margin-top: 82px;
		margin-bottom: 70px;
		padding-left: 0;
		padding-right: 0;
	}

	.card-feed {
		height: 800px;
		width: 94vw;
		padding: 0;
		padding-bottom: 75px;

		& h2 {
			padding: 0;
			margin: 0;
			padding-top: 10px;
			padding-left: 10px;
			margin-bottom: 8px;
		}
		& h3 {
			width: 100%;
			padding-bottom: 15px;
		}

		& p,
		h5 {
			line-height: 20px;
			padding: 0;
			margin: 0;
			padding-left: 40px;
			padding-right: 40px;
		}

		& p {
			line-height: 20px;
			padding-left: 40px;
			padding-right: 40px;
			margin: 0;
			margin-top: 20px;
			padding-bottom: 15px;
		}

		& .subtitle-icons {
			margin-bottom: 10px;
			margin-left: 4px;
			padding-top: 12px;
		}
	}

	// testimonials

	#last-block {
		display: none;
	}

	.four {
		height: 468px;
		margin-top: 140px;
		margin-bottom: 65px;
		width: 950px;
		padding-bottom: 40px;
	}

	.four::after {
		content: '';
		position: absolute;
		background-image: url('../assets/img/leav_foto small.png');
		background-repeat: no-repeat;
		width: 320px;
		height: 270px;
		padding: 5px 3px;
		right: 0px;
		background-position: top right;
		top: 3800px;
		z-index: 100;
	}

	.blocks {
		justify-content: center;
		padding-top: 0px;
		padding-bottom: 20px;
		width: 950px;
	}

	.block {
		width: 294px;
		height: 391px;
		margin-bottom: 0px;
		margin-right: 12px;
		margin-left: 15px;
	}

	.block-heading {
		padding-bottom: 0px;
	}

	.feedback-button {
		width: 950px;
		margin-top: 50px;
		margin-bottom: 30px;
		margin-left: 15px;
	}

	.card-feed__main h3 {
		width: 900px;
	}
	//slider bar

	.bar {
		margin: 0;
	}

	//footer

	.footer {
		height: 443px;
		padding-top: 50px;
		margin-top: 65px;
		padding-bottom: 30px;
		padding-left: 30px;
		padding-right: 50px;
		position: relative;
	}

	.footer::after {
		display: none;
	}

	//logo

	//

	.icons-footer {
		margin-top: 31px;
	}

	.icon-footer {
		padding-bottom: 8px;
	}

	.button-footer button {
		margin-top: 70px;
	}

	.navfooter {
		padding-bottom: 35px;
		& ul {
			justify-content: space-between;
			padding-left: 0px;
		}
	}

	.logo-footer {
		padding: 0;
		margin: 0;
	}

	.footer-designed-txt {
		padding-top: 5px;
	}

	.footer-designed-txt p {
		padding-bottom: 5px;
	}

	.form-label {
		position: absolute;
		left: 570px;
	}

	.input-email {
		position: absolute;
		right: 200px;
		top: 80px;
	}

	.input-button {
		margin-left: 10px;
		position: absolute;
		right: 60px;
		top: 80px;
	}
}

@media (max-width: 999px) {
	.wrapper {
		width: 640px;
	}

	//hamburger menu

	.hamburger-menu i {
		color: white;
	}

	.hamburger-menu {
		display: flex;
		margin-right: 20px;
	}

	.hamburger-active {
		position: fixed;
		top: 0;
		height: 40%;
		width: 100%;
		transform: translateX(0%);
		transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
		background-color: white;
		z-index: 100000000;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.opacity-active {
		position: fixed;
		top: 0px;
		height: 100%;
		width: 100%;
		transform: translateX(0%);
		transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
		background-color: rgba(0, 0, 0, 0.61);
		z-index: 10000000;
	}

	.links-burger {
		padding: 20px;
	}

	.burger-links li {
		list-style: none;
		padding: 5px;
		cursor: pointer;
		width: 150px;
	}

	.burger-links li a {
		text-decoration: none;
		padding: 10px;
		color: black;
	}

	.burger-menu {
		margin-top: -10px;
		padding-left: 10px;
	}

	.logo-burger {
		display: flex;
		justify-content: flex-start;
		width: 100px;
		margin: 5px;
		margin-top: 0px;
	}

	.burger-title {
		position: relative;
		width: 85px;
		height: 55px;
		border: 2px solid orange;
		border-radius: 4px;
		cursor: pointer;
	}

	.burger-title h1 {
		position: absolute;
		font-weight: 400;
		font-size: 20px;
		color: orange;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.burger-title img {
		position: absolute;
		width: 15px;
		height: 25px;
		left: 7px;
		top: 18px;
		transform: rotate();
	}

	.figma-burger {
		color: black;
	}

	.close-burger {
		color: orange;
		cursor: pointer;
		position: absolute;
		top: 50px;
		right: 50px;
		width: 50px;
		height: 50px;
	}

	/////

	.nav {
		height: 34px;
		position: fixed;
		top: 0;
		max-width: 100vw;
	}

	.links-main {
		display: none;
	}
	.nav-link {
		display: none;
	}
	.nav-links ul {
		display: none;
	}
	.nav-links {
		display: none;
	}

	.nav-main {
		width: 640px;
	}

	.logo-menu {
		margin-left: 0px;
	}

	.nav-title {
		border: none;
		height: 29px;
	}

	.nav-title h1 {
		font-weight: 400;
		font-size: 12px;
	}

	.nav-title img {
		width: 4.54px;
		height: 13.56px;
		left: 25px;
		top: 10px;
	}

	header {
		height: 339px;
	}

	.header {
		padding-bottom: 100px;
		margin-bottom: 100px;
		margin-top: 34px;

		&__img {
			height: 339px;
			padding-bottom: 50px;
		}

		&__circle {
			left: calc(50% - 237px / 2 + 130px);
			top: 10px;
			width: 237px;
			height: 237px;
		}

		&__text {
			width: 255px;
			height: 204px;

			h2 {
				left: 40px;
				top: 40px;
				font-size: 54px;
			}
		}

		&__btn {
			left: calc(50% - 245px / 2 - 180px);
			top: 245px;
		}
	}

	//main section

	.main {
		margin-top: -80px;
		padding-top: 0px;
		padding-bottom: 40px;
	}

	//first sectiion

	.one ::after {
		content: '';
		position: absolute;
		background-image: url('../assets/img/flower_foto tablet.png');
		background-repeat: no-repeat;
		width: 300px;
		height: 600px;
		padding: 5px 3px;
		right: 0px;
		top: 310px;
		background-position: right;
	}

	.one {
		height: 367px;
		padding: 0px;
		width: 100%;
		margin: 0;
		margin-top: 0px;
		margin-bottom: -20px;

		&__photo {
			display: none;
		}

		&__text {
			padding-bottom: 200px;
			padding-right: 0px;
			margin: 0;
			height: 300px;
			width: 500px;
			margin-right: 95px;

			& h2 {
				line-height: 100%;
				padding: 0;
				margin: 0;
				padding-bottom: 25px;
				padding-top: 0px;
				line-height: 120%;
			}

			& p {
				line-height: 120%;
				padding: 0;
				margin: 0;
				padding-bottom: 30px;
				line-height: 130%;
				padding-right: 20px;
			}

			& h3 {
				padding: 0;
				padding-bottom: 20px;
				padding-top: 0px;
			}
		}
	}

	//section two

	.two {
		height: 1150px;
		padding-top: 63px;
		padding-bottom: 30px;
		margin-top: -10px;
		width: 100%;
		margin-left: -10px;
	}

	.two::before {
		background-image: url('../assets/img/palm_foto\ tablet.png');
		bottom: -110px;
		left: 0px;
	}

	.two::after {
		bottom: -90px;
		background-image: url('../assets/img/strelitzia\ 1\ tablet.png');
		right: 0px;
		background-position: top right;
	}

	.button-two button {
		margin-top: 35px;
		margin-bottom: 105px;
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
		padding-top: 0px;
		padding-bottom: 0px;
		width: 640px;
		padding: 10px;
		margin: 0;
		height: 900px;
		
	}

	.card {
		margin: 15px;
		width: 280px;
		height: 330px;
		margin-top: 75px;
	}

	.txt p {
		font-size: 11.5px;
	}

	.txt h3 {
		font-size: 12px;
	}

	.icon-meat img {
		width: 37px;
		height: 29px;
		margin-top: 7px;
	}

	.icon-banana img {
		width: 29px;
		height: 26px;
		margin-top: 8px;
		margin-left: 10px;
	}

	
	.hover {
		width: 294px;
		height: 354px;
	}

	// card and txt 'animation'

	.hover:hover {
		width: 280px;
		height: 330px;
	}

	.hover-txt {
		font-size: 24px;
		width: 280px;
		height: 330px;
		padding: 10px;
	}

	.circle {
		width: 60px;
		height: 60px;
		position: absolute;
		top: 40.9%;
	}

	.circle:hover {
		background: #e47209;
		width: 65px;
		height: 65px;
		cursor: pointer;
	}

	.arrow1 {
		right: 249px;
		top: 42.5%;
	}

	.arrow2 {
		left: 241px;
		top: 42.5%;
	}

	.image {
		width: 285px;
		height: 285px;
	}

	.image img {
		width: 285px;
		height: 285px;
	}

	.txt {
		padding-left: 10px;
		padding-top: 2px;
	}

	.icon-meat img {
		margin-right: 5px;
	}

	.icon-banana img {
		margin-top: 10px;
		margin-right: 5px;
	}

	//section three

	.three {
		height: 781px;
		margin-top: -35px;
		margin-bottom: 70px;

		// padding: 95px;
	}

	.card-feed {
		height: 741px;
		width: 640px;
		padding: 0;
		padding-bottom: 300px;

		& h2 {
			padding: 0;
			margin: 0;
			padding-left: 5px;
			font-size: 42px;
			padding-bottom: 20px;
		}
		& h3 {
			width: 100%;
			padding-bottom: 50px;
			margin-left: 20px;
		}

		& p,
		h5 {
			line-height: 20px;
			padding: 0;
			padding-top: 20px;
			margin: 0;
			width: 100%;
		}

		& p {
			margin: 0;
			margin-top: -10px;
			padding-bottom: 13px;
			width: 100%;
		}

		& .subtitle-icons {
			margin: 0;
			padding: 0;
			margin-bottom: 10px;
			font-size: 36px;
		}

		& .subtitle-main {
			font-size: 22px;
			margin-left: 5px;
			padding: 0px;
			padding-top: 10px;
		}

		&__main {
			margin: 15px;
			margin-bottom: 20px;
		}

		&__btn {
			width: 298px;
			height: 55px;
			margin-bottom: 0px;
		}
	}

	.button-donation {
		margin-top: 50px;
	}

	// feed friend icons

	.icons-friends {
		width: 600px;
		height: 244px;
		position: relative;
	}

	.items-friends {
		width: 168px;
		height: 244px;
	}

	.hand,
	.zoo,
	.monkey {
		width: 168px;
		height: 168px;
		margin-right: 25px;
	}

	.monkey {
		margin-left: 15px;
	}

	.zoo {
		margin-left: 15px;
	}

	.hand {
		margin-left: 20px;
	}

	.vector img {
		display: none;
	}

	.icons-friends ::before {
		content: '';
		background-image: url('../assets/img/arrow-tablet.svg');
		position: absolute;
		background-repeat: no-repeat;
		width: 100px;
		height: 55px;
		left: 140px;
		top: 0;
	}

	.icons-friends ::after {
		content: '';
		background-image: url('../assets/img/arrow-tablet.svg');
		position: absolute;
		background-repeat: no-repeat;
		width: 100px;
		height: 55px;
		right: 155px;
		top: 0;
	}

	// testimonials

	#last-block {
		display: none;
	}

	.four {
		height: 468px;
		margin-top: 98px;
		margin-bottom: 0px;
		width: 640px;
		padding-bottom: 150px;
	}

	.four::after {
		background-image: url('../assets/img/leav_foto tablet.png');
		padding: 5px 3px;
		right: 0px;
		top: 3165px;
	}

	.blocks {
		flex-direction: column;
		align-items: center;
		padding-top: 0px;
		padding-bottom: 30px;
		width: 640px;
	}

	.block {
		width: 600px;
		height: 109px;
		margin: 0;
	}

	.block-img {
		margin-left: 10px;
		margin-top: 10px;
	}

	.block-heading {
		padding: 0px;
		padding-bottom: 0px;
	}

	.blocks :nth-child(2) {
		margin-top: 15px;
	}

	.blocks :nth-child(3) {
		margin-top: 15px;
	}

	.block-text {
		overflow: hidden;
	}

	.block-heading {
		padding: 0px;
	}

	.feedback-button {
		width: 248px;
		margin-top: 5px;
		margin-bottom: 0px;
		margin-left: 10px;
	}
	.feedback-button button {
		font-weight: 400;
		width: 240px;
		height: 54px;
		line-height: 50px;
	}
	.block-text {
		padding: 0 15px 0 15px;
	}
	.block-text p {
		font-size: 15px;
		line-height: 15px;
		font-weight: 300;
		color: #767474;
	}
	.block-title h4 {
		font-size: 16px;
		line-height: 9px;
	}
	.block-title p {
		color: #bdbdbd;
		font-size: 15px;
		line-height: 12px;
	}
	.title-four h2 {
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 10px;
		padding-top: 10px;
	}

	//slider bar

	.bar {
		display: none;
	}

	//footer

	.footer {
		background-color: #111115;
		height: 283px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-top: 50px;
		margin-top: 0px;
		padding-bottom: 30px;
	}

	//logo

	.logo-footer {
		position: absolute;
		top: 5px;
		left: 25px;
		width: 82px;
		height: 52px;
		border-radius: 2px;
	}

	.nav-title-footer {
		position: relative;
		width: 85px;
		height: 55px;
		border: 1px solid white;
		border-radius: 4px;
		cursor: pointer;
	}

	.nav-title p {
		display: inline-block;
		position: absolute;
		font-weight: 300;
		font-size: 20px;
		color: white;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	//footer

	.footer-all {
		display: flex;
	}

	.fa-brands {
		color: rgba(196, 196, 196, 0.5);
	}

	.icons-footer {
		margin-top: 28px;
		position: absolute;
		right: 10px;
		top: -25px;
	}

	.icons-footer span {
		display: none;
	}

	.icon-footer {
		padding: 10px;
	}

	.icon-footer a {
		color: white;
		text-decoration: none;
	}

	.button-footer {
		position: absolute;
		top: 20px;
		left: 20px;
	}

	.navfooter {
		justify-content: center;
		margin-left: 0px;
		padding-bottom: 5px;
		height: 270px;
		width: 640px;
		position: absolute;
		top: 0;
		left: 0;

		& ul {
			width: 100%;
			align-items: flex-end;
			justify-content: flex-start;
			height: 100%;
			padding-left: 0px;
			padding-right: 30px;
			list-style: none;
		}

		& a {
			margin-left: 30px;
		}
	}

	.form {
		display: none;
	}

	.footer-designed {
		position: absolute;
		bottom: -10px;
		right: 10px;
		width: 250px;
	}

	.footer-designed p {
		padding-bottom: 10px;
		width: 250px;
	}
}

@media (max-width: 640px) {
	.wrapper {
		width: 320px;
	}

	.hamburger-menu {
		margin-right: 10px;
	}

	.nav {
		height: 34px;
	}

	.nav-main {
		width: 320px;
	}

	.logo-menu {
		margin-left: -10px;
	}

	header {
		height: 186px;
	}

	.header {
		padding-bottom: 100px;
		margin-bottom: 100px;
		margin-top: 34px;

		&__img {
			height: 186px;
		}

		&__circle {
			left: calc(50% - 119px / 2 + 62px);
			top: 23px;
			width: 119px;
			height: 119px;
		}

		&__text {
			width: 125px;
			height: 102px;

			h2 {
				left: 20px;
				top: 20px;
				font-size: 27px;
			}
		}

		&__btn {
			left: calc(50% - 150px);
			top: 206px;
			width: 298px;
			height: 54px;
		}
	}

	//main section

	.main {
		margin-top: 80px;
		padding-top: 0px;
		padding-bottom: 40px;
	}

	//first sectiion

	.one ::after {
		background-image: url('../assets/img/flower_foto1 mobile.png');
		top: 75px;
		width: 150px;
	}

	.one {
		height: 307px;
		padding: 0px;
		width: 100%;
		margin-top: 30px;
		margin-bottom: -10px;

		&__photo {
			display: none;
		}

		&__text {
			padding-bottom: 30px;
			padding-right: 0px;
			padding-left: 10px;
			margin: 0;
			height: 150px;
			width: 320px;
			margin-bottom: 50px;
			margin-top: -325px;

			& h2 {
				padding: 0;
				margin: 0;
				padding-bottom: 10px;
				padding-top: 0px;
				line-height: 120%;
				font-size: 24px;
			}

			& p {
				line-height: 130%;
				padding: 0;
				margin: 0;
				padding-bottom: 15px;
				padding-right: 10px;
			}

			& h3 {
				padding: 0;
				padding-bottom: 10px;
				padding-top: 8px;
			}
		}
	}

	//section two

	.two {
		height: 1520px;
		padding-top: 0px;
		padding-bottom: 40px;
		margin-top: 20px;
		margin-bottom: 0;
	}

	.two::before {
		background-image: url('../assets/img/palm_foto\ mobile.png');
		bottom: -280px;
		left: 0px;
	}

	.two::after {
		bottom: -185px;
		background-image: url('../assets/img/strelitzia\ 1\ mobile.png');
		right: 0px;
		background-position: top right;
	}

	.button-two button {
		margin-top: 12px;
		margin-bottom: 20px;
	}

	.cards {
		margin-top: 5px;
		justify-content: space-around;
		align-items: center;
		padding-top: 0px;
		padding-bottom: 0px;
		width: 320px;
		padding: 0px;
		margin-left: 0px;
		height: 1800px;
	}

	.card {
		margin-right: 0px;
		margin-left: 0px;
		width: 280px;
		height: 330px;
		margin-top: 0px;
	}

	.gorilla {
		margin: 0;
		margin-top: -10px;
	
	}

	.eagle {
		margin: 0;
		margin-top: 0px;
	}

	.pandas {
		margin: 0;
		margin-top: 0px;
	}

	.sloth {
		margin: 0;
		margin-top: 0px;
	}

	.penguin,
	.cheetah, .alligators, .giraffe {
		display: none;

	}

	// card and txt 'animation'

	.circle {
		display: none;
	}

	//section three

	.three {
		height: 1082px;
		margin-top: 0px;
		margin-bottom: 40px;

		// padding: 95px;
	}

	.card-feed {
		height: 1042px;
		width: 300px;
		padding: 0;
		padding-bottom: 300px;

		& h2 {
			padding: 0;
			margin: 0;
			padding-left: 0px;
			font-size: 24px;
			padding-bottom: 38px;
			margin-top: 9px;
			height: 24px;
		}
		& h3 {
			width: 100%;
			padding: 0px;
			margin: 0px;
			font-size: 16px;
			text-align: start;
		}

		& p,
		h5 {
			display: none;
		}

		& p {
			display: none;
		}

		& .subtitle-icons {
			margin: 0;
			padding: 0;
			margin-bottom: 5px;
			font-size: 24px;
		}

		& .subtitle-main {
			font-size: 18px;
			margin: 0px;
			padding: 0px;
			width: 280px;
		}

		&__main {
			margin: 15px;
			margin-bottom: 20px;
		}

		&__btn {
			width: 298px;
			height: 55px;
			margin-bottom: 0px;
		}
	}

	.button-donation {
		margin-top: 43px;
	}

	// feed friend icons

	.icons-friends {
		width: 320px;
		height: 725px;
		flex-direction: column;
		margin-top: 0px;
	}

	.items-friends {
		width: 168px;
		height: 244px;
	}

	.hand,
	.zoo,
	.monkey {
		width: 168px;
		height: 168px;
		margin-right: 0px;
	}

	.monkey {
		margin: 0px;
		padding: 0;
	}

	.zoo {
		margin: 0px;
		padding: 0;
	}

	.hand {
		margin: 0px;
		padding: 0;
		margin-top: 20px;
	}

	.icons-friends ::before {
		content: '';
		background-image: url('../assets/img/arrow-tablet.svg');
		position: absolute;
		background-repeat: no-repeat;
		width: 100px;
		height: 55px;
		left: 200px;
		top: 450px;
		transform: rotate(90deg);
	}

	.icons-friends ::after {
		content: '';
		background-image: url('../assets/img/arrow-tablet.svg');
		position: absolute;
		background-repeat: no-repeat;
		width: 100px;
		height: 55px;
		left: 200px;
		top: 200px;
		transform: rotate(90deg);
	}

	.text-h3 h3 {
		padding-top: 10px;
	}

	// testimonials

	#last-block {
		display: none;
	}

	.four {
		height: 500px;
		margin-top: 0px;
		margin-bottom: 0px;
		width: 320px;
		padding-bottom: 0px;

		padding-top: 0;
	}

	.four::after {
		background-image: url('../assets/img/leav_foto\ mobile.png');
		padding: 5px 3px;
		right: 0px;
		top: 3870px;
	}

	.blocks {
		flex-direction: column;
		// align-items: center;
		// justify-content:center;
		padding-top: 0px;
		padding-bottom: 0px;
		width: 320px;
		height: 500px;
	}

	.block {
		width: 299px;
		height: 109px;
		margin: 0;
	}

	.block-img {
		margin-left: 10px;
		margin-top: 10px;
	}

	.block-text {
		overflow: hidden;
	}

	.block-heading {
		padding: 0px;
	}

	.feedback-button {
		width: 248px;
		margin-top: 25px;
		margin-bottom: 45px;
		margin-left: 10px;
	}
	.feedback-button button {
		font-weight: 400;
		width: 240px;
		height: 54px;
		line-height: 50px;
	}

	.title-four h2 {
		font-size: 24px;
		line-height: 25px;
		margin-bottom: 0px;
		margin-top: 5px;
		padding-top: 20px;
	}

	//slider bar

	.bar {
		display: none;
	}

	//footer

	.footer {
		background-color: #111115;
		height: 334px;
		padding-top: 40px;
		margin-top: 0px;
		padding-bottom: 30px;
	}

	//logo

	.logo-footer {
		position: absolute;
		top: 5px;
		left: 25px;
		width: 82px;
		height: 52px;
		border-radius: 2px;
	}

	.nav-title-footer {
		position: relative;
		width: 85px;
		height: 55px;
		border: 1px solid white;
		border-radius: 4px;
		cursor: pointer;
	}

	.nav-title p {
		display: inline-block;
		position: absolute;
		font-weight: 300;
		font-size: 20px;
		color: white;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	//footer

	.footer-all {
		display: flex;
	}

	.icons-footer {
		margin-top: 28px;
		position: absolute;
		right: 50px;
		top: 40px;
		display: flex;
		flex-direction: row;
	}

	.icons-footer span {
		display: none;
	}

	.icon-footer {
		padding: 10px;
		margin-left: 15px;
	}

	.button-footer {
		top: 60px;
		left: 10px;
	}

	.navfooter {
		justify-content: center;
		margin-left: 0px;
		padding-bottom: 0px;
		height: 315px;
		width: 320px;
		position: absolute;
		top: 0;
		left: 0;

		& ul {
			width: 100%;
			align-items: flex-end;
			justify-content: space-between;
			height: 100%;
			padding-left: 0px;
			padding-right: 15px;
			list-style: none;
		}

		& a {
			margin-left: 20px;
		}
	}

	.form {
		display: none;
	}

	.footer-designed {
		position: absolute;
		bottom: 45px;
		left: 80px;
		width: 220px;
	}

	.footer-designed p {
		padding-bottom: 10px;
		width: 250px;
	}
}
